body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: auto;
    text-align: left;
}

h1 {
    font-size: 49px;
    display: inline-block; 
    text-align: left;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center; 
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.botao {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px; 
    align-items: rigth;
    display: inline-block;
    float: right;
   
}

nav {
    margin-top: 20px; /* Espaçamento acima do menu de navegação */
}

nav ul {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0;
}

nav li {
    display: inline; /* Coloca os itens de menu em linha */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}
 
