body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 9px;
    text-align: left;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.botao {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno (altura x largura) */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Mostrar um cursor de mão ao passar o mouse sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
}